<html>

<head>

          {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'auxapp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'auxapp/css/gestion.css' %}" rel="stylesheet">
</head>

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      

      <span class="site-heading-lower">obsequios</span>
    </h1>


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav" style="background-color: rgb(179,125, 45);">
<div class="container">
<a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'home' %}">obsequios</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
<ul class="navbar-nav mx-auto" >
  <li class="nav-item px-lg-1">
    <a class="nav-link text-uppercase text-expanded" style="color: rgb(0,0,0)" href="{% url 'home' %}"><H3><b>Inicio</b></H3></a>
  </li>
  {% if identificado == False %}
  <li class="nav-item px-lg-1">
    <a class="nav-link text-uppercase text-expanded" style="color: rgb(0,0,0)" href="/ident/registro/"><H3><b>Registro</b></H3></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-uppercase text-expanded" style="color: rgb(0,0,0)" href="/ident/" tabindex="-1" aria-disabled="true"><H3><b>identificación</b></H3></a>
  </li>
  {% endif %}
  <li class="nav-item px-lg-1">
    <a class="nav-link text-uppercase text-expanded" style="color: rgb(0,0,0)" href="/tienda/categoria/{{categoria}}/1/{{mini}}/{{maxi}}/1/"><H3><b>por precio</b></H3></a>
  </li>

  <li class="nav-item px-lg-1">
    <a class="nav-link text-uppercase text-expanded" style="color: rgb(0,0,0)" href="/tienda/categoria/{{categoria}}/2/{{mini}}/{{maxi}}/1/"><H3><b>populares</b></H3></a>
  </li>
  <li class="nav-item px-lg-1">
    <a class="nav-link text-uppercase text-expanded" style="color: rgb(0,0,0)" href="/tienda/categoria/"><H3><b>categorías</b></H3></a>
  </li>
  {% if identificado %}
  <li class="nav-item px-lg-1">
    <a class="nav-link text-uppercase text-expanded" style="color: rgb(0,0,0)" href="/historial/"><H3><b>historial</b></H3></a>
  </li>
  <li class="nav-item px-lg-1">
    <a class="nav-link text-uppercase text-expanded" style="color: rgb(0,0,0)" href="/ident/logout/"><H3><b>salir</b></H3></a>
  </li>
  <li class="nav-item px-lg-1">
    <a class="nav-link text-uppercase text-expanded" style="color: rgb(0,0,0)" ><H3><b>{{puntosuser}}P</b></H3></a>
  </li>
  {% endif %}
</ul>
</div>
</div>
</nav>
   <!-- Heading -->
    
    
    {% for producto in productosaux %}
      <!--{ if producto.id >= nproc and producto.id < fproc }  --> 
        <section class="page-section clearfix">
          <div class="container">
            <div class="intro">
              <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{producto.picture1.url}}" alt="" style="width: 400; height: 400;">
              <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4" >
                  <a class="nav-link text-uppercase text-expanded" href="/tienda/compra/{{producto.id}}">{{producto.name}}</a>
                <!-- <span class="section-heading-lower">{{producto.nombre}}</span> -->
                <!-- <span class="section-heading-upper">{{producto.descripcion}}</span> -->
                </h2>
                <p class="mb-3">{{producto.points}} puntos
                </p>
              
              </div>
            </div>
          </div>
        </section>
        <!--{ endif }-->
      {% endfor %}
  




    <!-- Footer -->
    <footer class="footer text-faded text-center py-5" style="background-color: rgb(179,125, 45);">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
      </p>
        {% if pag == 1 %}
        
          <p class="m-0 mbt">
            <a href="/tienda/categoria/{{categoria}}/{{orden}}/{{mini}}/{{maxi}}/2" class="link" style="color: rgb(0,0,0)" >PAGINA SIGUIENTE</a> 
            
          </p>
        {% else %}
          
          <p class="m-0 mbt">
            <a href="/tienda/categoria/{{categoria}}/{{orden}}/{{mini}}/{{maxi}}/{{prepag}}" style="color: rgb(0,0,0)" class="link">PÁGINA ANTERIOR</a> ·
            <a href="/tienda/categoria/{{categoria}}/{{orden}}/{{mini}}/{{maxi}}/{{nextpag}}" style="color: rgb(0,0,0)" class="link">PÁGINA SIGUIENTE</a> 
            
           
          </p>
        {% endif %}
        <p class="m-0 mbt1">&copy; Gestión de Pedidos 2020</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'auxapp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'auxapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>